name: Linting
on:
  push:
    branches:
      - main
jobs:
  lint:
    name: Fix Code Style
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.31.1
        with:
          php-version: "8.3"
          extensions: json, dom, curl, libxml, mbstring
          coverage: none

      - name: Install Pint
        run: composer global require laravel/pint

      - name: Run Pint
        run: pint

      - name: Commit Linted Files
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
        with:
          commit_message: "Fixes coding style"
          commit_user_name: Github Actions
          commit_user_email: actions@github.com
